/*------------------------------------*    #RESET
\*------------------------------------*/
/**
 * Use border box on all elements
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  max-width: 1280px;
  margin: 0 auto; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

[role=main] {
  flex: 1; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pf-grid-row,
.pf-grid-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px; }

.pf-grid-row,
.pf-grid-wrapper {
  *zoom: 1; }

.pf-grid-row:after,
.pf-grid-row:before,
.pf-grid-wrapper:after,
.pf-grid-wrapper:before {
  content: " ";
  display: table; }

.pf-grid-row:after,
.pf-grid-wrapper:after {
  clear: both; }

.pf-col-collapse {
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px); }

.pf-col-12 {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }

.pf-col-1 {
  width: calc(8.3333333333% - 21.6666666667px);
  float: left;
  margin-left: 20px; }

.pf-col-2 {
  width: calc(16.6666666667% - 23.3333333333px);
  float: left;
  margin-left: 20px; }

.pf-col-3 {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px; }

.pf-col-4 {
  width: calc(33.3333333333% - 26.6666666667px);
  float: left;
  margin-left: 20px; }

.pf-col-5 {
  width: calc(41.6666666667% - 28.3333333333px);
  float: left;
  margin-left: 20px; }

.pf-col-6 {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px; }

.pf-col-7 {
  width: calc(58.3333333333% - 31.6666666667px);
  float: left;
  margin-left: 20px; }

.pf-col-8 {
  width: calc(66.6666666667% - 33.3333333333px);
  float: left;
  margin-left: 20px; }

.pf-col-9 {
  width: calc(75% - 35px);
  float: left;
  margin-left: 20px; }

.pf-col-10 {
  width: calc(83.3333333333% - 36.6666666667px);
  float: left;
  margin-left: 20px; }

.pf-col-11 {
  width: calc(91.6666666667% - 38.3333333333px);
  float: left;
  margin-left: 20px; }

@media (max-width: 768px) {
  .pf-col-1-breakpoint {
    width: calc(12.5% - 22.5px);
    float: left;
    margin-left: 20px; } }

@media (max-width: 768px) {
  .pf-col-2-breakpoint {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px; } }

@media (max-width: 768px) {
  .pf-col-3-breakpoint {
    width: calc(37.5% - 27.5px);
    float: left;
    margin-left: 20px; } }

@media (max-width: 768px) {
  .pf-col-4-breakpoint {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px; } }

@media (max-width: 768px) {
  .pf-col-5-breakpoint {
    width: calc(62.5% - 32.5px);
    float: left;
    margin-left: 20px; } }

@media (max-width: 768px) {
  .pf-col-6-breakpoint {
    width: calc(75% - 35px);
    float: left;
    margin-left: 20px; } }

@media (max-width: 768px) {
  .pf-col-7-breakpoint {
    width: calc(87.5% - 37.5px);
    float: left;
    margin-left: 20px; } }

@media (max-width: 768px) {
  .pf-col-8-breakpoint {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; } }

.pf-col-1-push {
  width: calc(8.3333333333% - 21.6666666667px);
  float: left;
  margin-left: calc(8.3333333333% + 18.3333333333px); }

.pf-col-2-push {
  width: calc(16.6666666667% - 23.3333333333px);
  float: left;
  margin-left: calc(16.6666666667% + 16.6666666667px); }

.pf-col-3-push {
  width: calc(25% - 25px);
  float: left;
  margin-left: calc(25% + 15px); }

.pf-col-4-push {
  width: calc(33.3333333333% - 26.6666666667px);
  float: left;
  margin-left: calc(33.3333333333% + 13.3333333333px); }

.pf-col-5-push {
  width: calc(41.6666666667% - 28.3333333333px);
  float: left;
  margin-left: calc(41.6666666667% + 11.6666666667px); }

.pf-col-6-push {
  width: calc(50% - 30px);
  float: left;
  margin-left: calc(50% + 10px); }

@media (max-width: 768px) {
  .pf-col-1-push-breakpoint {
    width: calc(12.5% - 22.5px);
    float: left;
    margin-left: calc(12.5% + 17.5px); } }

@media (max-width: 768px) {
  .pf-col-2-push-breakpoint {
    width: calc(25% - 25px);
    float: left;
    margin-left: calc(25% + 15px); } }

@media (max-width: 768px) {
  .pf-col-3-push-breakpoint {
    width: calc(37.5% - 27.5px);
    float: left;
    margin-left: calc(37.5% + 12.5px); } }

@media (max-width: 768px) {
  .pf-col-4-push-breakpoint {
    width: calc(50% - 30px);
    float: left;
    margin-left: calc(50% + 10px); } }

.pf-col-1-pull {
  width: calc(8.3333333333% - 21.6666666667px);
  float: right;
  margin-right: calc(8.3333333333% + 18.3333333333px); }

.pf-col-2-pull {
  width: calc(16.6666666667% - 23.3333333333px);
  float: right;
  margin-right: calc(16.6666666667% + 16.6666666667px); }

.pf-col-3-pull {
  width: calc(25% - 25px);
  float: right;
  margin-right: calc(25% + 15px); }

.pf-col-4-pull {
  width: calc(33.3333333333% - 26.6666666667px);
  float: right;
  margin-right: calc(33.3333333333% + 13.3333333333px); }

.pf-col-5-pull {
  width: calc(41.6666666667% - 28.3333333333px);
  float: right;
  margin-right: calc(41.6666666667% + 11.6666666667px); }

.pf-col-6-pull {
  width: calc(50% - 30px);
  float: right;
  margin-right: calc(50% + 10px); }

@media (max-width: 768px) {
  .pf-col-1-pull-breakpoint {
    width: calc(12.5% - 22.5px);
    float: right;
    margin-right: calc(12.5% + 17.5px); } }

@media (max-width: 768px) {
  .pf-col-2-pull-breakpoint {
    width: calc(25% - 25px);
    float: right;
    margin-right: calc(25% + 15px); } }

@media (max-width: 768px) {
  .pf-col-3-pull-breakpoint {
    width: calc(37.5% - 27.5px);
    float: right;
    margin-right: calc(37.5% + 12.5px); } }

@media (max-width: 768px) {
  .pf-col-4-pull-breakpoint {
    width: calc(50% - 30px);
    float: right;
    margin-right: calc(50% + 10px); } }

.pf-col-1-shift {
  width: calc(8.3333333333% - 21.6666666667px);
  margin: 0 auto;
  position: relative; }

.pf-col-2-shift {
  width: calc(16.6666666667% - 23.3333333333px);
  margin: 0 auto;
  position: relative; }

.pf-col-3-shift {
  width: calc(25% - 25px);
  margin: 0 auto;
  position: relative; }

.pf-col-4-shift {
  width: calc(33.3333333333% - 26.6666666667px);
  margin: 0 auto;
  position: relative; }

.pf-col-5-shift {
  width: calc(41.6666666667% - 28.3333333333px);
  margin: 0 auto;
  position: relative; }

.pf-col-6-shift {
  width: calc(50% - 30px);
  margin: 0 auto;
  position: relative; }

.pf-col-7-shift {
  width: calc(58.3333333333% - 31.6666666667px);
  margin: 0 auto;
  position: relative; }

.pf-col-8-shift {
  width: calc(66.6666666667% - 33.3333333333px);
  margin: 0 auto;
  position: relative; }

.pf-col-9-shift {
  width: calc(75% - 35px);
  margin: 0 auto;
  position: relative; }

.pf-col-10-shift {
  width: calc(83.3333333333% - 36.6666666667px);
  margin: 0 auto;
  position: relative; }

.pf-col-11-shift {
  width: calc(91.6666666667% - 38.3333333333px);
  margin: 0 auto;
  position: relative; }

@media (max-width: 768px) {
  .pf-col-1-shift-breakpoint {
    width: calc(12.5% - 22.5px);
    margin: 0 auto;
    position: relative; } }

@media (max-width: 768px) {
  .pf-col-2-shift-breakpoint {
    width: calc(25% - 25px);
    margin: 0 auto;
    position: relative; } }

@media (max-width: 768px) {
  .pf-col-3-shift-breakpoint {
    width: calc(37.5% - 27.5px);
    margin: 0 auto;
    position: relative; } }

@media (max-width: 768px) {
  .pf-col-4-shift-breakpoint {
    width: calc(50% - 30px);
    margin: 0 auto;
    position: relative; } }

@media (max-width: 768px) {
  .pf-col-5-shift-breakpoint {
    width: calc(62.5% - 32.5px);
    margin: 0 auto;
    position: relative; } }

@media (max-width: 768px) {
  .pf-col-6-shift-breakpoint {
    width: calc(75% - 35px);
    margin: 0 auto;
    position: relative; } }

@media (max-width: 768px) {
  .pf-col-7-shift-breakpoint {
    width: calc(87.5% - 37.5px);
    margin: 0 auto;
    position: relative; } }

.pf-grid-row > div span {
  height: 10em;
  background-color: lightblue;
  display: block; }

.pf-grid-row {
  margin-bottom: 10px; }

.nested span {
  margin-bottom: 20px; }

.pf-grid-row > div span {
  height: 40px;
  background-color: lightblue;
  display: block; }

.pf-grid-row {
  margin-bottom: 10px; }

.nested span {
  margin-bottom: 20px; }
