@import "reset";
@import "grid";

.pf-grid-row > div span {
height: 40px;
background-color: lightblue;
display: block;
}

.pf-grid-row {
margin-bottom: 10px;
}

.nested span {
margin-bottom: 20px; 
}
